
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: purple;
}
.container{
  max-width: 800px;
  width: 100%;
  background-color: skyblue;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0 5px 10px purple inset;
}
.container .title{
  font-size: 30px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  background: wheat;
}
 form .button{
   height: 45px;
   margin: 35px 0;
   border-color: black;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: black;
   color:black;
   font-size: 20px;
   font-weight: 500;
   background: wheat;
 }
 form .button input:hover{
  background:blueviolet;
}


